.enter {
	width:120px;
	margin:auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-decoration:none;
	color:white;
}

.front h1 {
	text-align:center;
	margin:auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
	padding:100px;
	opacity: 0.85;

}


.front p {
	width:350px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
	float:left;
	padding-left:100px;
	opacity: 0.85;

}

.front img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
	padding-top:150px;
	opacity: .90;
}

/*
.home h3 {
	float:left;
	padding-left:160px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	color:white;
	padding:40px;
	padding-top:100px;
	opacity: 0.85;
	width:300px;

} */

.home h1 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

.home .fact1 h3 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

.home .fact2 h3 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

.home .fact3 h3 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

.home .fact4 h3 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

.home .fact5 h3 {
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	margin:auto;
	text-align:center;
	width:500px;
	padding:30px;
	opacity:.60;
}

hr {
	width:900px;
}
/*
.home .fact1  h3 {
	float:right;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
}

.home .fact1 img {
	display:inline-block;
	float:right;
}

.home .fact2  h3 {
	float:right;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
}

.home .fact3  h3 {
	float:right;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
}

.home .fact4  h3 {
	float:right;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
}

.home .fact5  h3 {
	float:right;
	color:white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
} */

.contact label{
	text-align:center;
    margin:auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:white;
}

.contact input{
	margin:auto;

}


body{
	background-color:black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
	opacity: 0.85;

}

ul {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom:0px;
	list-style-type: none;
	padding-top: 0px;
	overflow: hidden;
	background-color:rgb(0, 0, 0);
	border-radius: 10px 10px 10px 10px;
	opacity: 0.7;
}

li {
	float:left;
	padding-left:200px;
	opacity: 0.7;
}

 li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration: none;
	border-radius:15px 15px 15px 15px;
	
}

li a:hover {
	background-color:rgb(0, 174, 239);
	border-radius:15px 15px 15px 15px;
	transition: .7s;
	

}

 li a:active{
	background-color:rgb(0, 174, 239);
	border-radius:15px 15px 15px 15px;
	font:black; 
	opacity: 0.7;
}